
# Common
**/.cache
**/.venv
**/.git
**/Build
**/Private
**/Release
**/Workspace
**/*.pyc

# Non-syncthing
**/.stfolder
**/.ignore
**/.nomedia
**/Meta
**/*.env

# Docker
**/.github
**/.vscode
**/.dockerfile
**/Website
