
# Common
**/.cache
**/.venv
**/.git
**/build
**/dist
**/private
**/release
**/target
**/workspace
**/*.pyc

# Non-syncthing
**/.stfolder
**/.nomedia
**/*.env
**/meta

# Docker
**/.vscode
**/.dockerfile
**/website
