
# Common
**/.cache
**/.venv
**/Build
**/Release
**/Workspace
**/*.pyc
**/*.lock

# Non-syncthing
**/.stfolder
**/.ignore
**/.nomedia
**/Meta
**/*.env

# Docker
**/.github
**/.vscode
**/.dockerfile
**/Website
