# Blobs and states
Workspace
Build
Release

# Temp unwanted files
___*

# Python
**__pycache__*
*.pyc

# Syncthing
.stfolder
.stversions

# Symlinks
Projects/**
!Projects/Hook
!Projects/Hook/Readme.md
.venvs
