[submodule "Projects/ShaderFlow"]
	path = Projects/ShaderFlow
	url  = https://github.com/BrokenSource/ShaderFlow
[submodule ".github/.github"]
	path = .github/special
	url  = https://github.com/BrokenSource/.github
[submodule "Projects/DepthFlow"]
	path = Projects/DepthFlow
	url  = https://github.com/BrokenSource/DepthFlow
[submodule "Projects/QuadSnap"]
	path = Projects/Others/QuadSnap
	url  = https://github.com/BrokenSource/QuadSnap
[submodule "Projects/Upscalin"]
	path = Projects/Others/Upscalin
	url  = https://github.com/BrokenSource/Upscalin
[submodule "Projects/Pianola"]
	path = Projects/Pianola
	url  = https://github.com/BrokenSource/Pianola
[submodule "Projects/SpectroNote"]
	path = Projects/SpectroNote
	url  = https://github.com/BrokenSource/SpectroNote
[submodule "Meta/Fork/ModernGLW"]
	path = Meta/Fork/ModernGLW
	url  = https://github.com/Tremeschin/moderngl-window
[submodule "Meta/PyAPP"]
	path = Meta/Fork/PyAPP
	url  = https://github.com/Tremeschin/pyapp
[submodule "Projects/FastCutter"]
	path = Projects/Others/FastCutter
	url  = https://github.com/BrokenSource/FastCutter
