[submodule "Projects/ShaderFlow"]
	path = Projects/ShaderFlow
	url  = https://github.com/BrokenSource/ShaderFlow
[submodule ".github/.github"]
	path = .github/special
	url  = https://github.com/BrokenSource/.github
[submodule "Projects/DepthFlow"]
	path = Projects/DepthFlow
	url  = https://github.com/BrokenSource/DepthFlow
[submodule "Projects/QuadSnap"]
	path = Projects/QuadSnap
	url  = https://github.com/BrokenSource/QuadSnap
[submodule "Projects/Upscalin"]
	path = Projects/Upscalin
	url  = https://github.com/BrokenSource/Upscalin
[submodule "Meta/FluentMidi"]
	path = Meta/FluentMidi
	url = https://github.com/FluentMidi/FluentMidi
[submodule "Meta/Brakeit"]
	path = Meta/Brakeit
	url = https://github.com/Brakeit/brakeit.github.io/
