
# Common
**/__pycache__
**/.cache
**/.next
**/.venv
**/*lock*
**/build
**/dist
**/node*
**/others
**/private
**/release
**/target
**/workspace

# Non-syncthing
**/.nomedia
**/.stfolder
**/*.env
**/meta
**/packages
