# Blobs and states
Build
Release

# Temp unwanted files
___*

# Python
**__pycache__*
dist
*.pyc
*.whl

# Syncthing
.stfolder
.stversions

# Symlinks
Workspace
Projects/Hook/*
.venvs

# Mock
Broken/Mock/*
