{% extends "base.html" %}

{% block announce %}
  ✅ &nbsp; This website is a <b>Work in Progress</b> and the Software is in <b>Alpha (0.x) versions</b>
{% endblock %}

{% block content %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  {{ super() }}
{% endblock %}

<!-- Found any issues footer -->
{% block footer %}
  <style>

    /* Recreate md-footer */
    .footer-extra-layer {
      font-size: 0.8rem;
      text-align: center;
      padding: 0.5rem 0;
      color: var(--md-footer-fg-color--light);
      width: 100%;
    }

    /* Footer layers separation */
    .md-footer {
      box-shadow: 0 0px 16px rgba(0, 0, 0, 0.4);
    }

    /* Nice underline on links */
    .md-footer a {
      text-decoration: underline;
    }
  </style>
  <div style="height: 2rem;"></div>
  <footer class="md-footer">
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <div class="footer-extra-layer">
          Found any issues on this page? Please, <b><a href="https://brokensrc.dev/about/contact/">let me know</a> !</b>
          <br><br>
          <sup>❤️ Consider <b><a href="https://brokensrc.dev/about/sponsors/" target="_blank">Supporting</a></b> my <b>full time open source</b> work ❤️</sup>
        </div>
      </div>
    </div>
    {{ super() }}
  </footer>
{% endblock %}
